
table { 
  width: 100%;
  border-collapse: collapse;
  }

th, td { 
    border: 2px solid black;
    padding: 8px;
    tex-align: center;
  }

th {
    background-color: teal;
    color: white;
  }



h1 { color: #483D8B; /* cor da titulo */
    font-family: comic sans ms;
    font-size: 30px;
    font-weight: bold;}

h2 { color: #483D8B; /* cor da titulo */   
     font-family: comic sans ms;
     font-size: 30px;
     font-weight: bold;}

   
p {
    color: mediumpurple; /* cor da paragrafo */
    font-family: comic sans ms;
    font-size: 20px;
    font-weight: bold;
  }

li{
   color: #836FFF; /* cor da paragrafo */
   font-family: comic sans ms;
   font-size: 20px;
   font-weight: bold;
 }

a{
   color:#836FFf;
   font-family: comic sans ms;
   font-size: 20px;
   font-weight: bold;
 }

body { background-color: #E6E6FA; /* Define o fundo da pagina */}


table { 
   width: 100%;
   border-collapse: collapse;
}

th, td { 
    border: 2px solid #191970;
    padding: 8px;
    tex-align: center;
}

th {
    background-color: teal;
    color: white;
}

h1 { 
    color: darkblue; /* cor da titulo */
}

p { 
    color: mediumpurple; /* cor da paragrafo */
}

td { 
    color: #483D8B; /* cor do texto da tabela */
}

body { 
    background-color: #E6E6FA; /* Define o fundo da pagina */
}

footer{
  background-color: #bc84eb;
  padding: 40px;
}

title {
    background-color: #483D8B ;
    border: 10px solid #191970 ;
    padding: 20px ;
}

.titulo{
    color: rgb(230, 213, 245), rgb(134, 67, 173);
    font-weight: bold ;
    font-size: 18px;
    font-family: cursive;
}


